<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=
        "urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <movie>
            <moviepage>
                <text_field>I'm a text field</text_field>
                <is_enabled>1</is_enabled>
                <movie_selection>1</movie_selection>
            </moviepage>
        </movie>
    </default>
</config>