<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="intercept_config_product" type="Magenest\Movie\Plugin\InterceptConfigurable" />
    </type>
</config>